{% extends "base.html" %}

{% block title %}
Carte des Hôtels
{% endblock %}

{% block content %}

<div class="container">
    <h1>List of customers</h1>

    <!-- Formulaire de recherche -->
    <form method="get" action="{% url 'afficher_deplacements' %}">
        <div class="row">
            <div class="col-md-10">
                <input class="form-control" 
                       type="text" 
                       name="search" 
                       placeholder="Research customers by name" 
                       value="{{ search_query }}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-light w-100">Research</button>
            </div>
        </div>
    </form>

    <!-- Tableau des deplacements -->
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>type</th>
                <th>price</th>
                <th>capacty</th>
                
            </tr>
        </thead>

        <tbody>
            {% for deplacement in deplacements %}
            <tr>
                <td>{{ deplacement.id }}</td>
                <td>{{ deplacement.nom }}</td>
                <td>{{ deplacement.type }}</td>
                <td>{{ deplacement.tarif }}</td>
                <td>{{ deplacement.duree_sejour }}</td>
                <td>{{ deplacement.capacite }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No customers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination d-flex justify-content-center">
        {% if deplacements.has_previous %}
        <a class="btn btn-outline-secondary mx-1" href="?search={{ search_query }}&page=1">First</a>
        <a class="btn btn-outline-secondary mx-1" href="?search={{ search_query }}&page={{ deplacements.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="mx-2 align-self-center">Page {{ deplacements.number }} of {{ deplacements.paginator.num_pages }}</span>

        {% if deplacements.has_next %}
        <a class="btn btn-outline-secondary mx-1" href="?search={{ search_query }}&page={{ deplacements.next_page_number }}">Next</a>
        <a class="btn btn-outline-secondary mx-1" href="?search={{ search_query }}&page={{ deplacements.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</div>

{% endblock %}
