{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<header>
    <h1>You are connect to your dashboard!</h1>
</header>
<main>
    <div class="menu">
        <button href= "{ % url 'afficher_hotels' %}">Hotels</button>
        <button href= "{% url 'afficher_deplacements' %}">Transport</button>
        <button href= "{% url 'afficher_itineraires' %}" >Itinerary</button>
        <button href="{% url 'afficher_clients' %}">Customers</button>
    </div>


    </div>
</main>


{% endblock %}