{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<header>
    <h1>You are connect to your dashboard!</h1>
</header>
<main>
    <div class="menu">
        <a href="{% url 'afficher_hotels' %}"><button>Hotels</button></a>
    <a href="{% url 'afficher_deplacements' %}"><button>Transport</button></a>
    <a href="{% url 'afficher_itineraires' %}"><button>Itinerary</button></a>
    <a href="{% url 'afficher_clients_page' %}"><button>Customers</button></a>
    </div>


</main>


{% endblock %}